<div class="booyah-box col-10 offset-1">
  <%= form_for @message, url: create_message_url do |f| %>
    <%= notice %>
    <%= @message.errors.full_messages.join(', ') %>
    <h1>Send me a message!</h1>
    <%= f.text_field :name, placeholder: 'name' %>
    <br/>
    <%= f.email_field :email, placeholder: 'email' %>
    <br/>
    <%= f.text_area :body, placeholder: 'body' %>
    <br/>
    <%= f.submit 'Send' %>
  <% end %>
</div>